div#container {
  margin: 0 auto;
  max-width: 960px;
}

nav {
  margin-bottom: 60px;
  text-align: center;

  ul {
    list-style-type: none;
    margin: 0;

    li {
      @include inline-block();
      padding: 40px;
    }
  }
}

body.home a.home,
body.page-2 a.page-2,
body.page-3 a.page-3 {
  text-decoration: underline;
}
